* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.menu {
  list-style: none;
}

.clear-fix::after {
  clear: both;
  display: block;
  content: "";
}

.col {
  float: left;
}

.col-3 {
  width: 33.3334%;
}

.header {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header:hover {
  background-color: white;
}

.header:hover .nav .menu li a {
  color: black;
}

.header:hover .logo h1 {
  color: black;
}

.header .nav {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .nav.nav-left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header .nav.nav-right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .nav .menu li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: black;
  display: block;
  padding: 10px 10px;
}

.header .logo {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
}

.header .logo h1 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  color: black;
}

.slidershow {
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
  z-index: 9;
}

.slidershow .slides {
  width: 500%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slidershow .slides input[name="bottom"] {
  position: absolute;
  visibility: hidden;
}

.slidershow .slides #bottom_1:checked ~ .s1 {
  margin-left: 0;
}

.slidershow .slides #bottom_2:checked ~ .s1 {
  margin-left: -20%;
}

.slidershow .slides #bottom_3:checked ~ .s1 {
  margin-left: -40%;
}

.slidershow .slide {
  position: relative;
  cursor: pointer;
  width: 20%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.slidershow .slide.s2 h1 {
  width: 100%;
}

.slidershow .slide h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 90px;
  color: white;
}

.slidershow .slide img {
  width: 100%;
  height: 100%;
}

.slidershow .bar {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
}

.slidershow .bar:hover {
  background: #fff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border: 2px solid red;
}

.slidershow .navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content {
  margin-top: 50px;
  padding: 0 50px;
}

.main-content .row-first {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-content .row-first img {
  padding-left: 500px;
  width: 50%;
  height: 50%;
}

.main-content .row-first .title h3 {
  font-size: 60px;
  margin-bottom: 20px;
}

.main-content .row-first .title p {
  font-size: 18px;
  line-height: 1.5;
}

.main-content .row-first .text {
  width: 35%;
}

.main-content .row-first .text p {
  line-height: 1.5;
  font-size: 18px;
  padding: 0 60px;
}

.main-content .row-first .lst-img {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-content .row-first .lst-img img {
  padding-left: 0 !important;
  padding-right: 20px !important;
  height: 50%;
  width: 50%;
}

.main-content .row-image {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .row-image .image {
  width: 40%;
  height: 40%;
}

.main-content .row-image .lst-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .row-image .lst-content h1 {
  font-size: 40px;
}

.main-content .row-image .lst-content .lst-img {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content .row-image .lst-content .lst-img img {
  padding: 10px;
  width: 28%;
  height: 28%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
}

.footer .navigation {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer .navigation .menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .navigation .menu-footer li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  padding: 10px 20px;
}

.footer .navigation .menu-footer li a:hover {
  color: brown;
}

.footer .form-input {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.footer .form-input .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.footer .form-input .form-group::after {
  bottom: 0;
  position: absolute;
  height: 1px;
  content: "";
  width: 100%;
  background-color: black;
}

.footer .form-input .form-group input {
  padding: 10px 0px;
  border: none;
  outline: none;
  font-size: 18px;
}
/*# sourceMappingURL=details.css.map */