* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.menu {
  list-style: none;
}

.clear-fix::after {
  clear: both;
  display: block;
  content: "";
}

.col {
  float: left;
}

.col-3 {
  width: 33.3334%;
}

.header {
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .nav.nav-left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header .nav.nav-right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .nav .menu li a {
  display: block;
  padding: 10px 10px;
}

.header .logo {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
}

.header .logo h1 {
  text-align: center;
}

.main-content .col-3 {
  position: relative;
  padding: 10px;
}

.main-content .col-3 h1 {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  font-size: 60px;
  text-align: center;
}

.main-content .col-3 img {
  width: 100%;
  height: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
}

.footer .navigation {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer .navigation .menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .navigation .menu-footer li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  padding: 10px 20px;
}

.footer .navigation .menu-footer li a:hover {
  color: brown;
}

.footer .form-input {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.footer .form-input .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.footer .form-input .form-group::after {
  bottom: 0;
  position: absolute;
  height: 1px;
  content: "";
  width: 100%;
  background-color: black;
}

.footer .form-input .form-group input {
  padding: 10px 0px;
  border: none;
  outline: none;
  font-size: 18px;
}
/*# sourceMappingURL=home.css.map */